@import "../../styles/variables";

.game {
    &__grid {
        display: grid;
        grid-gap: 1rem;
        margin-bottom: 1rem;

        &--score {
            grid-template-columns: auto 1fr 12rem 1fr auto;
        }

        &--data {
            grid-template-columns: repeat(8, minmax(0, 12.5%));
            grid-gap: 0.5rem;
            text-align: center;
        }
    }

    &__grid-item {
        border-radius: 0.5rem;
        box-shadow: 0 0 5px inset $shadowColour;
        min-height: 50px;
        padding: 0.5rem;
        background-color: $featuresBackgroundColour;

        &--team {
            box-shadow: none;
            background-color: transparent;
            line-height: 4rem;
            font-size: 2rem;

            &-A {
                text-align: right;
            }
        }

        &--timeout {
            text-align: center;
        }
    }

    &__button {
        &--start-stop {
            display: block;
            margin: auto;
            white-space: nowrap;
        }

        &--team {
            text-transform: unset;
            font-size: inherit;
            font-weight: 400;

            &:disabled {
                color: inherit;
            }
        }

        &--yellow-card {
            background-color: $yellowCardColour;
        }

        &--red-card {
            background-color: $redCardColour;
            color: $textReverseColour;
        }

        &--blue-card {
            background-color: $blueCardColour;
            color: $textReverseColour;
        }

        .game__grid-item--fouls & {
            min-height: 4rem;
        }
    }

    &__score {
        text-align: center;
        line-height: 4rem;
        font-family: $fontScore;
        font-size: 3rem;

        &--half-time {
            line-height: 1.2rem;
            font-size: 1rem;
        }
    }
    &__member-list {
        padding: 0;

        &-item {
            padding: 0 0.5rem;
        }
    }

    &__member-reference {
        text-transform: uppercase;
        font-family: $fontReferences;
        font-weight: 600;
    }
}
