.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 500px;
    max-height: 70vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.2);
    padding: 1rem;

    &--small {
        width: 20rem;
    }

    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__header {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 1rem;
        line-height: 1.666em;
        font-size: 1.125rem;
        color: #00f;
    }

    &__variable-height { // This allows for internal scrolls inside pop-ups. BA 2020-01-24
        flex-shrink: 1;

        /* stylelint-disable */
        /* IE11 doesn't support the short-hand property "flex" properly, 40vh is a semi-magic number. BA 2020-02-25 */
        flex-grow: 0;
        flex-basis: 40vh;
        /* stylelint-enable */

        /* This is what other browsers apply, basically leaving them do the math. BA 2020-02-25 */
        @supports (flex-basis: calc(70vh - 5px)) {
            flex-basis: auto;
        }

        overflow-y: auto;
        padding-bottom: 1px; // account for the border size
    }

    &__text {
        margin-bottom: 1em;
        text-align: center;
    }

    &__message {
        font-size: 0.75rem;
        text-align: center;
    }
}
