@import 'variables';

//_________________
// Alert
.MuiAlert-filledSuccess {
    background-color: $alertSuccessColour !important;
    color: $alertSuccessText !important;
}

//_________________
// AppBar
.MuiToolbar-root {
    justify-content: flex-end;
    background-color: $appBarColour;
    color: $textReverseColour;
}

//_________________
// Buttons
.MuiButton {
    $block: &;

    &-root {
        font-size: 1.2rem !important;

        @media screen and (min-width: $bp-tablet + 1px) {
            font-size: 0.875rem !important;
        }

        &#{$block}-contained {
            background-color: $buttonBackgroundColour;
            color: $buttonTextColour;

            &:hover {
                background-color: darken($buttonBackgroundColour, 10%);
                color: $buttonTextColour;
            }

            &.button--image {
                background-color: transparent;
                padding: 0;
            }
        }
    }

    &-iconSizeLarge > *:first-child {
        margin-top: 0.1em;
        font-size: inherit !important;
    }
}

//_________________
// Checkboxes
.MuiCheckbox-colorPrimary.Mui-checked {
    color: $buttonBackgroundColour !important;
}

//_________________
// Dialog
.MuiDialog-paper {
    > * {
        z-index: 0;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: alpha(0.666);
        content: '';
    }
}

.member__popup {
    &--goal {
        .MuiDialog-paper::before {
            background-image: url(../images/background-app.png);
        }
    }

    &--yellowcard {
        .MuiDialog-paper::before {
            background-image: url(../images/background-yellowcard.png);
        }
    }

    &--suspension {
        .MuiDialog-paper::before {
            background-image: url(../images/background-suspension.png);
        }
    }

    &--redcard {
        .MuiDialog-paper::before {
            background-image: url(../images/background-redcard.png);
        }
    }

    &--bluecard {
        .MuiDialog-paper::before {
            background-image: url(../images/background-bluecard.png);
        }
    }
}

//_________________
// Radio buttons
.MuiFormGroup-root {
    display: flex;

    .MuiFormControlLabel-root {
        margin-left: -0.5rem;
    }

    .PrivateSwitchBase-root-1 {
        padding: 0.25rem !important;
    }

    .MuiRadio-colorPrimary {
        &.Mui-checked {
            color: $buttonBackgroundColour;
        }
    }
}

//_________________
// Tables
.MuiTable {
    &Cell {
        &-root {
            font-size: 1.2rem !important;

            @media screen and (min-width: $bp-tablet + 1px) {
                font-size: 0.875rem !important;
            }
        }
    }

    &-root {
        caption {
            font-size: 1.2rem !important;

            @media screen and (min-width: $bp-tablet + 1px) {
                font-size: 0.875rem !important;
            }
        }
    }
}

.home__table {
    .MuiTableCell-sizeSmall {
        padding: 6px;
    }

    .MuiTableCell-alignCenter {
        .MuiTableSortLabel-root {
            margin-right: -26px;    // Corrects sorting arrow offset
        }
    }
}

.settings__table {
    margin-bottom: 1rem;
    border: 1px solid $borderStrongColour;
    border-radius: 0.5rem;

    .MuiTable {
        &Cell-head {
            background-color: $tableHeaderBackgroundColour;
            text-align: center !important;
        }

        &Row-root:nth-child(even) {
            background-color: $tableStripeBackgroundColour;
        }

        &Cell-first.MuiTableCell-paddingNone {
            padding-left: 0.5rem !important;
        }

        &-root {
            .MuiFormControl {
                &-root.MuiFormControl-marginDense {
                    margin: 4px;
                }
            }
        }
    }
}

.summary__table {
    .MuiTableCell {
        width: 50%;

        &--header {
            width: 50%;
            text-align: right;
            font-weight: 600;
        }

        &--match {
            width: 100%;
            text-align: center;
            font-size: 1.25em;
        }
    }
}

//_________________
// Timeline
.MuiTimeline {
    &OppositeContent-root {
        padding-top: 1rem !important;
    }

    &Dot-defaultPrimary {
        background-color: $timelineColour !important;
    }

    &Dot-defaultSecondary {
        background-color: $timelineSecondaryColour !important;
    }

    &Connector-root {
        background-color: $timelineColour !important;
    }
}
