@import 'variables';
@import 'mixins';

//------------------------------------------------
// Accessibility classes

//-----------------------
// Hiding Content for Everyone
// Insure the use of the "hidden" attribute has the proper effect and beats any specificity
[hidden] {
    display: none !important;
}

//-----------------------
// Showing Additional Content for Screen Readers
.sr-only {
    @include sr-only;
}

body .tablet-mode {
    @media screen and (min-width: $bp-tablet + 1px) {
        display: none !important;
    }
}

body .laptop-mode {
    @media screen and (max-width: $bp-tablet) {
        display: none !important;
    }
}

/**
Sources
    - https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/
    - https://github.com/ampproject/amphtml/blob/master/css/amp.css
 */
