//---------------------------
// Breakpoints
$bp-tablet: 1024px;

//---------------------------
// Fonts
$fontReferences: Teko, sans-serif;
$fontScore: Oxanium, sans-serif;
$fontTime: 'ZCOOL QingKe HuangYou', monospace;

//---------------------------
// Colours
$black-00: #000;
$black-10: rgba(0, 0, 0, 0.15);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);
$black-80: rgba(0, 0, 0, 0.80);

$blue-00: #216de8;
$blue-01: #6baed6;

$green-00: #01824d;
$green-01: #74c476;

$grey-00: #787878;
$grey-01: #d3e1f2;
$grey-01-50: #d3e1f299;
$grey-02: #323f4e;
$grey-50-85: rgba(127, 127, 127, 0.85);

$yellow-00: #e1ff00;
$yellow-01: #fcdd7e;

$orange-00: #fca536;

$red-00: #fb2b11;
$red-01: #e35637;


$white-00: #fff;
$white-01: #f0f0f0;
$white-20: rgba(255, 255, 255, 0.2);
$white-95: rgba(255, 255, 255, 0.95);


// Colour usage
$bgColour: $white-00;

$textColour: $black-00;
$textMidColour: $grey-00;
$textReverseColour: $white-00;
$textErrorColour: $red-00;

$borderStrongColour: $black-00;
$shadowColour: $black-30;
$shadowColourStrong: $black-50;
$shadowColourExtraStrong: $black-80;

$appBarColour: $grey-02;
$gameLogColour: $grey-01;

$buttonTextColour: $textReverseColour;
$buttonBackgroundColour: $grey-02;


$yellowCardColour: $yellow-00;
$suspensionCardColour: $orange-00;
$redCardColour: $red-00;
$blueCardColour: $blue-00;

$timeOutColour: $green-00;
$timeOutWarningColour: $orange-00;
$timeOutEndColour: $red-01;
$stopWatchColour: $grey-01-50;
$suspensionDefaultColour: $red-01;
$suspensionWarningColour: $orange-00;
$suspensionEndColour: $green-01;

$featuresBackgroundColour: $white-95;
$zebraBackgroundColour: $white-20;

$tableHeaderBackgroundColour: $black-50;
$tableStripeBackgroundColour: $black-10;

$timelineColour: $grey-02;
$timelineSecondaryColour: $orange-00;

$alertSuccessColour: $blue-01;
$alertSuccessText: $grey-02;
