//---------------------------
// Fonts
$fontReferences: Teko, sans-serif;
$fontScore: Oxanium, sans-serif;

//---------------------------
// Colours
$black-00: #000;
$black-10: rgba(0, 0, 0, 0.15);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);

$blue-00: #6baed6;

$green-00: #74c476;

$grey-00: #787878;
$grey-01: #d3e1f2;
$grey-02: #323f4e;
$grey-50-85: rgba(127, 127, 127, 0.85);

$yellow-00: #fcdd7e;
$orange-00: #fca536;
$red-00: #e35637;


$white-00: #fff;
$white-20: rgba(255, 255, 255, 0.2);
$white-95: rgba(255, 255, 255, 0.95);


// Colour usage
$bgColour: $white-00;

$textColour: $black-00;
$textMidColour: $grey-00;
$textReverseColour: $white-00;

$borderStrongColour: $black-00;
$shadowColour: $black-30;
$shadowColourStrong: $black-50;

$appBarColour: $grey-02;
$gameLogColour: $grey-01;

$buttonTextColour: $textReverseColour;
$buttonBackgroundColour: $grey-02;


$yellowCardColour: $yellow-00;
$suspensionCardColour: $orange-00;
$redCardColour: $red-00;
$blueCardColour: $blue-00;

$timeOutWarningColour: $orange-00;
$timeOutEndColour: $red-00;
$suspensionDefaultColour: $red-00;
$suspensionWarningColour: $orange-00;
$suspensionEndColour: $green-00;

$featuresBackgroundColour: $white-95;
$zebraBackgroundColour: $white-20;

$tableHeaderBackgroundColour: $black-50;
$tableStripeBackgroundColour: $black-10;
