
// Fonts
$fontReferences: Teko, sans-serif;
$fontScore: Oxanium, sans-serif;

// Colours
$textColour: #000;
$textReverseColour: #fff;

$yellowCardColour: #ff0;
$redCardColour: #f00;
$blueCardColour: #00f;

$timeOutWarningColour: #f90;
$timeOutEndColour: #f00;
$suspensionDefaultColour: #f00;
$suspensionWarningColour: #f90;
$suspensionEndColour: #090;
