@import "../../styles/variables";

.settings {
    &__text-input {
        &--reference {
            margin-right: 1rem;

            input {
                width: 4rem;
                text-transform: uppercase;
            }
        }
    }
}
