@import '../../styles/variables';

.game-list {

    &__container {
        margin: 2rem;
    }

    &__content {
        display: flex;
    }

    &__row--clickable {
        transition: all 0.1s ease-in;

        &:hover {
            background-color: $white-01;
            cursor: pointer;
        }
    }

    &__date {
        margin-right: 1rem;
        padding-top: 0.125rem;
    }

    &__details {
        line-height: 1.5rem;
    }

    &__status {
        font-style: italic;
    }
}
