@import '../../styles/variables';

.game-log {
    list-style: decimal;
    column-count: 2;

    &__item {
        display: list-item;
        page-break-inside: avoid;
        list-style-position: inside;
        width: calc(100% - 2.5rem);
        padding-left: 0.5rem;

        &::marker {
            min-width: 1.5rem;
            font-style: italic;
        }

        &:not(&--invisible):nth-child(even) {
            background-color: $zebraBackgroundColour;
        }

        &:nth-child(-n + 9) {
            .game-log__event {
                width: calc(100% - 2rem);
            }
        }

        &--invisible {
            list-style: none;
        }

        &--gamePaused,
        &--gameResumed {
            border-top: 1px dashed $borderStrongColour;
            border-bottom: 1px dashed $borderStrongColour;
        }

        &--timeOut {
            border-top: 3px double $borderStrongColour;
            border-bottom: 3px double $borderStrongColour;
        }

        &--endPeriod,
        &--endGame {
            margin-bottom: 1px;
            border-bottom: 2px solid $borderStrongColour;
        }

        &--startGame,
        &--startPeriod {
            margin-top: 1px;
            border-top: 2px solid $borderStrongColour;
        }

        &--yellowCard {
            background-color: $yellowCardColour !important;
        }

        &--suspension {
            background-color: $suspensionCardColour !important;
        }

        &--redCard {
            background-color: $redCardColour !important;
        }

        &--blueCard {
            background-color: $blueCardColour !important;
        }
    }

    &__event {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2.5rem);
    }

    &__score {
        align-self: flex-start;
        margin-left: 1rem;
        white-space: nowrap;
    }

    &__goals {
        &--added {
            font-weight: 600;
        }
    }

    &__button {
        margin: 0 -0.5rem 0 0.5rem;

        @media screen and (min-width: $bp-tablet + 1px) {
            min-width: 5.5rem;
        }
    }
}
